@model List<YearSemester>


<div class="row card shadow border-0 mt-4">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2 class="text-primary">Semesters List</h2>
        </div>


        <div style="width:50%">
            <a asp-controller="Year" asp-action="AddSemester" asp-route-id="@Model[0].YearID" class="btn btn-primary" style="width:100%">
                <i class="bi bi-plus-circle"></i> Add Semester
            </a>
        </div>

    </div>

    <form asp-action="UpdateSemesters" asp-controller="Year" method="post" id="semestersForm">
        <input asp-for="@Model[0].YearID" id="yearID" hidden />
        <table class="table">
    <thead>
        <tr>
            <th hidden></th>
            <th>Semester Number</th>
            <th>Semester Name EN</th>
            <th>اسم الفصل الدراسي</th>
            <th>Quiz Count</th>
            <th>Final Mark</th>
            <th>Active</th>
        </tr>
    </thead>
    <tbody>
        @* @foreach (var semester in Model.OrderBy(u => u.YearID)) *@

        @for (int i = 0; i < Model.Count; i++)
        {
            <tr>
                <td hidden>
                    <input asp-for="@Model[i].YearSemesterID" type="hidden"/>
                    <input asp-for="@Model[i].YearID" type="hidden" />
                </td>

                <td>
                    <input asp-for="@Model[i].SemesterNumber" class="form-control form-control-sm w-100" />
                    <span asp-validation-for="@Model[i].SemesterNumber" class="text-danger"></span>
                </td>
                <td>
                    <input asp-for="@Model[i].SemesterNameEN" class="form-control form-control-sm w-100" />
                  <span asp-validation-for="@Model[i].SemesterNameEN" class="text-danger"></span>
                </td>
                <td>
                    <input asp-for="@Model[i].SemesterNameAR" class="form-control form-control-sm w-100" />
                     <span asp-validation-for="@Model[i].SemesterNameAR" class="text-danger"></span>
                </td>
                <td>
                    <input asp-for="@Model[i].QuizCount" type="number" class="form-control form-control-sm w-100" />
                    <span asp-validation-for="@Model[i].QuizCount" class="text-danger"></span>
                </td>
                <td>
                    <input asp-for="@Model[i].FinalMark" type="number" class="form-control form-control-sm w-100" />
                    <span asp-validation-for="@Model[i].FinalMark" class="text-danger"></span>
                </td>
                <td>
                    <input asp-for="@Model[i].ActiveFlag" type="checkbox" class="form-check-input" />
                    <span asp-validation-for="@Model[i].ActiveFlag" class="text-danger"></span>
                </td>
            </tr>
        }
    </tbody>
</table>
        @if (Model[0].YearSemesterID != 0)
        {
            <button type="submit" class="btn btn-outline-primary mb-4">Save</button>
        }
        else
        {
            <button type="submit" class="btn btn-outline-primary mb-4" disabled>Save</button>
        }
    </form>
</div>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}