@model Year
<div class="row card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div>

            <a asp-controller="Year" asp-action="Index" class="btn btn-outline-secondary float-end w-10">Back</a>
            </div>

            <div class="col-12 text-center">
                <h2 class=" py-2">@(Model.YearID != 0 ? "Update" : "Create") Year</h2>

            </div>

            @* <div asp-validation-summary="All"></div> *@

        </div>
    </div>
    <div class="row card-body p-4">
        <form method="post" class="row">
            <input asp-for="YearID" id="yearID" hidden />
            
            @* <input asp-for="CurrentUser"  hidden /> *@

            <div class="border p-3">
                <div class="row">
                    <fieldset>
                        <div class="form-check form-switch mb-4">
                            <input asp-for="ActiveFlag" class="form-check-input" type="checkbox">
                            <label class="form-check-label">Active</label>
                        </div>

                    </fieldset>
                    <div class="col-4 mb-3">
                        <label class="form-label" asp-for="YearEN"></label>
                        <input asp-for="YearEN" type="text" class="form-control form-control-sm" placeholder="">
                        <span asp-validation-for="YearEN" class="text-danger"></span>
                    </div>
                    <div class="col-4 mb-3 text-end">
                        <label class="form-label" asp-for="YearAR"></label>
                        <input asp-for="YearAR" type="text" class="form-control form-control-sm text-end" placeholder="">
                        <span asp-validation-for="YearAR" class="text-danger"></span>
                    </div>
                    <div class="col-4 mb-3">
                        <label class="form-label" asp-for="AddmissionDate"></label>
                        @if (Model.YearID != 0)
                        {
                            <input asp-for="AddmissionDate" type="date" class="form-control form-control-sm"  placeholder="">
                        }
                        else
                        {
                            <input asp-for="AddmissionDate" type="date" class="form-control form-control-sm" value="@DateOnly.FromDateTime(DateTime.UtcNow)" placeholder="">

                        }
                        <span asp-validation-for="AddmissionDate" class="text-danger"></span>
                    </div>
                </div>
                
                

                <div class="pt-2">
                    @if (Model.YearID != 0)
                    {
                        <!-- Container with data-year-id attribute -->
                        @* <div id="partialYearSemesterUpsert" data-year-id="@Model.Year.YearID"></div> *@
                        <button type="submit" class="btn btn-outline-primary btn-sm" style="width:25%">Update</button>
                    }
                    else
                    {
                        <button type="submit" class="btn btn-outline-primary btn-sm" style="width:25%">Create</button>
                    }
@*                     <a asp-controller="Year" asp-action="Index" class="btn btn-outline-secondary float-end">Back</a>
 *@                </div>


            </div>
        </form>
    </div>
</div>
<div id="partialYearSemesterUpsert" data-year-id="@Model.YearID"></div>



@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
    <script>
        $(document).ready(function () {
            var yearId = $('#partialYearSemesterUpsert').data('year-id');
            if (yearId) {
                var url = '@Url.Action("YearSemesterUpsertPartial", "Year", new { area = "Admin" })';
                $('#partialYearSemesterUpsert').load(url + '?yearId=' + yearId);
            }
        });
        </script>
    @* <script src="~/js/year.js"></script> *@
}

