@model List<Country>


<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2 class="text-primary">Countries List</h2>
        </div>

        <div >
            <a asp-controller="Settings" asp-action="CreateCountry" class="btn btn-primary" style="width:100%">
                <i class="bi bi-plus-circle"></i> Add New Country
            </a>
        </div>

    </div>

    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>Country ID</th>
                <th>Country Name EN</th>
                <th>Country Name AR</th>
                <th>Nationality EN</th>
                <th>Nationality AR Male</th>
                <th>Nationality AR Female</th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var country in Model.OrderBy(u => u.CountryID))
            {
                <tr>
                    <td>@country.CountryID</td>
                    <td>@country.CountryNameEN</td>
                    <td>@country.CountryNameAR</td>
                    <td>@country.NationalityEN</td>
                    <td>@country.NationalityARMale</td>
                    <td>@country.NationalityARFemale</td>
                    <td> 
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="Settings" asp-action="EditCountry" asp-route-id="@country.CountryID" class="btn btn-primary" style="height:40px">
                                <i class="bi bi-pencil-square" style="position: relative; top:-8px;"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>