@model TeacherPermissionViewModel


<div class="row card shadow border-0 mt-4">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2 class="text-primary">Add Permission</h2>
        </div>



    </div>
    <form method="post" class="row g-3">
        <input asp-for="@Model.UserID" type="hidden" />
        <div class="col-12 border p-3">


            <input asp-for="@Model.GradesList" value="@Model.GradesList" asp type="hidden"/>
            <input asp-for="@Model.SubjectsList" value="@Model.SubjectsList" type="hidden"/>


            <div class="row">
                <!-- Grade Dropdown -->
                <div class="col-12 col-md-4 mb-3">
                    <label class="form-label" for="gradeSelect">Grade</label>
                    <select asp-for="@Model.GradeID"
                            id="GradeID"
                            asp-items="@Model.GradesList"
                            class="form-select form-select-sm"
                            id="gradeSelect">
                        <option disabled selected>--Select Grade--</option>
                    </select>
                    <span asp-validation-for="@Model.GradeID" class="text-danger"></span>
                </div>

                <!-- Class Dropdown -->
                <div class="col-12 col-md-4 mb-3">
                    <label class="form-label" for="classSelect">Class</label>
                    <select id="classID"
                            asp-for="@Model.ClassID"
                            asp-items="@Model.ClassesList"
                            class="form-select form-select-sm">
                        <option disabled selected>--Select Class--</option>
                    </select>
                    <span asp-validation-for="@Model.ClassID" class="text-danger"></span>
                </div>
                <!-- Subject Dropdown -->
                <div class="col-12 col-md-4 mb-3">
                    <label class="form-label" for="subjectSelect">Subject</label>
                    <select id="subjectID"
                            asp-for="@Model.SubjectID"
                            asp-items="@Model.SubjectsList"
                            class="form-select form-select-sm">
                        <option disabled selected>--Select Subject--</option>
                    </select>
                    <span asp-validation-for="@Model.SubjectID" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <!-- Permission Type Dropdown -->
                <div class="col-12 col-md-4 mb-3">
                    <label class="form-label" for="subjectSelect">Permission Type</label>
                    <select id="subjectID"
                            asp-for="@Model.PermissionType"
                            class="form-select form-select-sm">
                        <option>@SD.Permission_Edit</option>
                        <option>@SD.Permission_View</option>
                    </select>
                    <span asp-validation-for="@Model.PermissionType" class="text-danger"></span>
                </div>
            </div>

            <!-- Submit and Back Buttons -->
            <div class="pt-3">
                <button type="submit" class="btn btn-outline-primary btn-md w-20 w-sm-auto me-2">Create</button>
                <a asp-controller="TeacherPermission" asp-action="Index" asp-route-id="@Model.UserID" class="btn btn-outline-light float-end">Back</a>
            </div>
        </div>
    </form>



</div>
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script src="~/js/teacherPerimssion.js"></script>
}
