@model Dictionary<int, List<TeacherPermission>>

<div class="card container">
    <div class="row pt-4 pb-3">
        <div class="col-10 mb-4">
            <h2 class="text-primary">
                Edit Permissions for:
                <small class="text-body-secondary">@TempData["UserName"]</small>
            </h2>
        </div>
        <div class="col-2 mb-4">
            <a asp-controller="ApplicationUser" asp-action="Index" class="btn btn-outline-light">Back</a>

        </div>


        <div >
            <a asp-controller="TeacherPermission" asp-action="Create" asp-route-id=@TempData["UserID"] class="btn btn-primary" style="width:100%">
                <i class="bi bi-plus-circle"></i> Add Class Permission
            </a>
        </div>

    </div>

    @foreach (var entry in @Model)
    {
        <p>SubjectID: @entry.Key</p>
        foreach (var permission in entry.Value)
        {
            <p>TeacherPermissionID: @permission.TeacherPermissionID, UserID: @permission.UserID, ClassID: @permission.ClassID, ActiveFlag: @permission.AcitveFlag</p>
        }
    }


    @*<table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>Bus ID</th>
                <th>Bus number</th>
                <th>Driver Name</th>
                <th>Driver Phone</th>
                <th>Bus Plate</th>
                <th>Bus Path</th>
                <th>Bus Type</th>


            </tr>
        </thead>
        <tbody>
             @foreach (var bus in Model.OrderBy(u => u.BusID))
            {
                <tr>
                    <td>@bus.BusID</td>
                    <td>@bus.BusNumber</td>
                    <td>@bus.DriverName</td>
                    <td>@bus.DriverPhone</td>
                    <td>@bus.BusPlate</td>
                    <td>@bus.BusPath</td>
                    <td>@bus.BusType</td>


                    <td> 
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="Bus" asp-action="Upsert" asp-route-id="@bus.BusID" class="btn btn-primary" style="height:40px">
                                <i class="bi bi-pencil-square" style="position: relative; top:-8px;"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            } 
        </tbody>
    </table>*@
</div>