@model CurrentControlViewModel

<div class="row card shadow border-0 mt-4">
    <div class="row pt-4 pb-1">
        <div class="col-12">
            <h2 class="text-primary" style="text-align: center;">Current Control</h2>
        </div>
    </div>
    @* <h2>@Model.CurrentUser</h2> *@
    <form method="post" class="row ">
        <input asp-for="CurrentUser" type="hidden" />
        <div class="col-12 border p-3">
            <!-- Year, Semester -->
            <div class="row">
                <!-- Year Dropdown -->
                <div class="col-7 col-md-7 mb-3">
                    <label class="form-label" for="yearSelect">Year</label>
                    <select asp-for="YearID"
                            id="YearID"
                            asp-items="Model.YearsList"
                            class="form-select form-select-sm"
                            id="yearSelect">
                        <option disabled selected>--Select Year--</option>
                    </select>
                </div>

                <!-- Semester Dropdown -->
                <div class="col-5 col-md-5 mb-3">
                    <label class="form-label" for="semesterSelect">Semester</label>
                    <select id="semesterID"
                            asp-for="SemesterID"
                            asp-items="Model.SemestersList"
                            class="form-select form-select-sm">
                        <option disabled selected>--Select Semester--</option>
                    </select>
                    <span asp-validation-for="SemesterID" class="text-danger"></span>
                </div>
            </div>
            <!-- Subject, Grade, Class -->
            <div class="row">
                <!-- Grade Dropdown -->
                <div class="col-12 col-md-4 mb-3">
                    <label class="form-label" for="gradeSelect">Grade</label>
                    <select id="gradeID"
                            asp-for="@Model.GradeID"
                            asp-items="Model.GradesList"
                            class="form-select form-select-sm">
                        <option disabled selected>--Select Grade--</option>
                    </select>
                    <span asp-validation-for="GradeID" class="text-danger"></span>
                </div>
                <!-- Subject Dropdown -->
                <div class="col-12 col-md-4 mb-3">
                    <label class="form-label" for="subjectSelect">Subject</label>
                    <select id="subjectID"
                            asp-for="@Model.SubjectID"
                            asp-items="Model.SubjectsList"
                            class="form-select form-select-sm">
                        <option disabled selected>--Select Subject--</option>
                    </select>
                    <span asp-validation-for="SubjectID" class="text-danger"></span>
                </div>
                <!-- Class Dropdown -->
                <div class="col-12 col-md-4 mb-3">
                    <label class="form-label" for="classSelect">Class</label>
                    <select id="classID"
                            asp-for="@Model.ClassID"
                            asp-items="Model.ClassesList"
                            class="form-select form-select-sm">
                        <option disabled selected>--Select Class--</option>
                    </select>
                    <span asp-validation-for="ClassID" class="text-danger"></span>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-outline-primary  btn-sm mb-4" formaction="@Url.Action("Index", "CurrentControl")">Load</button>

        @if (Model.Semester != null)
        {
            @* <input asp-for="@Model.CurrentControlList[0].CurrentControlID" id="yearID" hidden /> *@
            <table class="table table-bordered text-center">
                <thead>
                    <tr class="table-primary">
                        <th hidden></th>
                        <th style="font-size: 10px; width: 200px">Student</th>
                        @for (int i = 1; i < Model.Semester.QuizCount + 1; i++)
                        {
                            <th style="font-size: 10px; width: 65px">Quiz @i (@(20 / Model.Semester.QuizCount))</th>
                        }
                        @* <th style="font-size: 10px; width: 65px">Quiz2 (10)</th>
                    <th style="font-size: 10px; width: 65px">Quiz3 (10)</th> *@

                        <th style="font-size: 10px; width: 65px">ClassWork (@SD.Control_ClassWork)</th>
                        <th style="font-size: 10px; width: 65px">HomeWork (@SD.Control_HomeWork)</th>
                        <th style="font-size: 10px; width: 65px">Project (@SD.Control_Project)</th>
                        @* <th style="font-size: 10px; width: 35px">Total (60)</th> *@
                        <th style="font-size: 10px; width: 65px">Exam (@SD.Control_Exam)</th>
                        <th style="font-size: 10px; width: 25px">Final (100)</th>
                        <th style="font-size: 10px; width: 20px"> Absent</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.CurrentControlList.Count > 0 && Model.CurrentControlList[0].YearSemesterID != 0)
                    {
                        @for (int i = 0; i < Model.CurrentControlList.Count; i++)
                        {
                            <input asp-for="@Model.CurrentControlList[i].CurrentControlID" type="hidden" />
                            <input asp-for="@Model.CurrentControlList[i].StudentID" type="hidden" />
                            <input asp-for="@Model.CurrentControlList[i].SubjectID" type="hidden" />
                            <input asp-for="@Model.CurrentControlList[i].ClassID" type="hidden" />
                            <input asp-for="@Model.CurrentControlList[i].YearSemesterID" type="hidden" />

                            <tr class="table-light">
                                <td>
                                    <input asp-for="@Model.CurrentControlList[i].Student.StudentNameEN" class="form-control form-control-sm w-100" readonly />
                                    <span asp-validation-for="@Model.CurrentControlList[i].Student.StudentNameEN" class="text-danger"></span>
                                </td>
                                <td>
                                    <input asp-for="@Model.CurrentControlList[i].Quiz1" class="form-control form-control-sm w-100" />
                                    <span asp-validation-for="@Model.CurrentControlList[i].Quiz1" class="text-danger"></span>
                                </td>
                                @if (Model.Semester.QuizCount == 2)
                                {
                                    <td>
                                        <input asp-for="@Model.CurrentControlList[i].Quiz2" class="form-control form-control-sm w-100" />
                                        <span asp-validation-for="@Model.CurrentControlList[i].Quiz2" class="text-danger"></span>
                                    </td>
                                }
                                @* <td>
                                    <input asp-for="@Model.CurrentControlList[i].Quiz3" type="number" class="form-control form-control-sm w-100" />
                                    <span asp-validation-for="@Model.CurrentControlList[i].Quiz3" class="text-danger"></span>
                                </td> *@
                                <td>
                                    <input asp-for="@Model.CurrentControlList[i].ClassWork" type="number" class="form-control form-control-sm w-100" />
                                    <span asp-validation-for="@Model.CurrentControlList[i].ClassWork" class="text-danger"></span>
                                </td>
                                <td>
                                    <input asp-for="@Model.CurrentControlList[i].HomeWork" type="number" class="form-control form-control-sm w-100" />
                                    <span asp-validation-for="@Model.CurrentControlList[i].HomeWork" class="text-danger"></span>
                                </td>
                                <td>
                                    <input asp-for="@Model.CurrentControlList[i].Project" type="number" class="form-control form-control-sm w-100" />
                                    <span asp-validation-for="@Model.CurrentControlList[i].Project" class="text-danger"></span>
                                </td>
                                @* <td>
                                    @(Model.CurrentControlList[i].Quiz1 + (Model.CurrentControlList[i].Quiz2 ?? 0) + (Model.CurrentControlList[i].Quiz3 ?? 0) + Model.CurrentControlList[i].ClassWork + Model.CurrentControlList[i].HomeWork + Model.CurrentControlList[i].Project)
                                </td> *@
                                <td>
                                    <input asp-for="@Model.CurrentControlList[i].ExamMark" class="form-control form-control-sm w-100" />
                                    <span asp-validation-for="@Model.CurrentControlList[i].ExamMark" class="text-danger"></span>
                                </td>
                                <td>
                                    @* Final: Total + ExamMark *@
                                    @(Model.CurrentControlList[i].Quiz1 + (Model.CurrentControlList[i].Quiz2 ?? 0)  + Model.CurrentControlList[i].ClassWork + Model.CurrentControlList[i].HomeWork + Model.CurrentControlList[i].Project + Model.CurrentControlList[i].ExamMark)
                                </td>
                                <td>
                                    <input asp-for="@Model.CurrentControlList[i].Absent" type="checkbox" class="form-check-input" />
                                    <span asp-validation-for="@Model.CurrentControlList[i].Absent" class="text-danger"></span>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            @if (Model.CurrentControlList.Count > 0 && Model.CurrentControlList[0].CurrentControlID != 0)
            {
                <button type="submit" class="btn btn-outline-primary mb-4" formaction="@Url.Action("UpdateCurrentControlList", "CurrentControl")">Save</button>
            }
            else
            {
                <button type="submit" class="btn btn-outline-primary mb-4" disabled>Save</button>
            }
        }



    </form>
    
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script src="~/js/currentControl.js"></script>
    <script>
        $(document).ready(function () {
            $('#classID').on('change', function () {
                $.ajax({
                    url: '@Url.Action("LoadDataToCurrrentControlTable", "CurrentControl")',
                    type: 'GET', // or 'POST' based on your action
                    
                });
            });
        });
    </script>

}



